HOST=127.0.0.1
PORT=3000

CONTACT_TO_EMAIL=sanju.techniki@gmail.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-real-email@gmail.com
SMTP_PASS=your16charapppassword
SMTP_FROM_EMAIL=your-real-email@gmail.com
